<header th:fragment="header" class="header">
  <div class="nav-wrap">
    <div class="inner">
      <div class="top">
        <div class="logo">
          <a href="javascript:;"><img th:src="@{/images/logo.svg}" alt="천재교육"></a>
        </div>
        <div class="btn-wrap">
          <button><a href="javascript:;" class="user">testAdmin</a></button>
          <button><a href="javascirpt:;" class="btn-login">로그아웃</a></button>
        </div>
      </div>
      <div>
        <ul class="nav">
          <li class="active">
            <a href="javascript:;" class="active">HOME</a>
            <ul class="depth2">
              <li>
                <a href="/">공지사항</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/paper">교재 관리</a>
            <ul class="depth2">
              <li>
                <a href="/paper">교재 관리</a>
              </li>
              <li>
                <a href="javascript:;">교재 업로드</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/ocr">OCR 변환</a>
            <ul class="depth2">
              <li>
                <a href="/ocr">OCR 변환 관리</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;">시스템 관리</a>
            <ul class="depth2">
              <li>
                <a href="javascript:;">계정 관리</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
