<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <title>작업 현황 관리</title>
    <th:block th:replace="~{fragments/include:: include}"/>
</head>
<body>
<div id="wrap">
    <th:block th:replace="~{fragments/header:: header}"/>
    <div class="container">
        <div class="inner">
            <div class="index-tit">시스템 관리 > 작업 현황 관리</div>
            <h1 class="page-tit">작업 현황 관리</h1>
            <div class="search-box-wrap">
                <form action="/user/management/assignment" method="GET">
                    <div class="search-box">
                        <div class="box">
                            <span>검색 조건</span>
                            <div class="select-wrap">
                                <input type="date" id="startDate" name="startDate" style="width: 140px;">
                                ~
                                <input type="date" id="endDate" name="endDate" style="width: 140px;">
                            </div>
                            <div class="select-wrap">
                                <select class="select-box" id="condition" name="searchOption">
                                    <option value="전체">전체</option>
                                    <option value="name">아이디</option>
                                    <option value="user_id">이름</option>
                                </select>
                            </div>
                            <input type="text" placeholder="검색어" class="search-form" id="keyword" name="searchKeyword">
                        </div>
                        <div class="btn-wrap">
                            <button class="btn-green" type="submit">검색</button>
                            <button class="btn-gray" type="reset">초기화</button>
                        </div>
                    </div>
                </form>
            </div> <!--search-box-wrap end-->
            <div class="table-wrap">
                <div class="tab-top">
                    <div class="left-area">
                        <span class="total">총 <em >0</em>건</span> <!--th:text="${papers.totalElements}"-->
                        <div class="select-wrap">
                            <select class="select-box w140" id="pageSizeSelect">
                                <option value="10">10개 보기</option>
                                <option value="30">30개 보기</option>
                                <option value="50">50개 보기</option>
                                <option value="100">100개 보기</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a class="btn-gray w120" id="excelDownload" download href="/paper/download">엑셀 다운로드</a>
                    </div>
                </div>
                <table class="tbl-list">
                    <caption></caption>
                    <colgroup>
                        <!--                        <col style="width: 3%;">-->
                        <col style="width: 4%;">
                        <col style="width: 6%;">
                        <col style="width: 6%;">
                        <col style="width: 6%;">
                        <col style="width: 4%;">
                        <col style="width: 8%;">
                        <col style="width: 8%;">
                        <col style="width: 20%;">
                        <col style="width: 6%;">
                        <col style="width: 8%;">
                        <col style="width: 6%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <!--                        <th >-->
                        <!--                            <div class="check-wrap">-->
                        <!--                                <input type="checkbox" id="chk100_00" name="numChk" class="allCheck">-->
                        <!--                                <label for="chk100_00"></label>-->
                        <!--                            </div>-->
                        <!--                        </th>-->
                        <th>NO</th>
                        <th>출제 년도</th>
                        <th>월</th>
                        <th>시험 종류</th>
                        <th>학년</th>
                        <th>영역</th>
                        <th>과목</th>
                        <th>시험지 명</th>
                        <th>등록자</th>
                        <th>등록일</th>
                        <th>담당자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="paper, iterStat : ${papers}">
                        <td th:text="${#numbers.sequence(papers.number * papers.size + 1, (papers.number + 1) * papers.size)[iterStat.index]}" />
                        <td th:text="${paper.id}" style="display: none;" />
                        <td th:text="${paper.year}" />
                        <td th:text="${paper.month}" />
                        <td th:text="${paper.category}" />
                        <td th:text="${paper.grade}" />
                        <td th:text="${paper.area}" />
                        <td th:text="${paper.subject}" />
                        <td class="tit"><a th:href="@{/paper/upload(id=${paper.id})}" target="_blank" th:text="${paper.name}"/></td>
                        <td th:text="${paper.user.getName()}">홍길동</td>
                        <td th:text="${#temporals.format(paper.getCreatedAt(), 'yyyy-MM-dd')}">YYYY.MM.DD</td>
                        <td th:text="${paper.paperStatus.displayValue}" />
                    </tr>
                    </tbody>
                </table>
            </div>
<!--            <div class="paging-wrap">-->
<!--                &lt;!&ndash; 페이징 영역 &ndash;&gt;-->
<!--                <a href="javascript:;" class="first" th:if="${page.number != 0}" th:href="@{${pageLink + (page.number - 1)}}"></a>-->
<!--                <a href="javascript:;" class="prev" th:if="${page.number == 0}"></a>-->
<!--                &nbsp;&nbsp;-->
<!--                <th:block th:each="pageNumber : ${#numbers.sequence(0, page.totalPages - 1)}">-->
<!--                    <a href="javascript:;" class="page" th:class="${page.number == pageNumber} ? active" th:href="@{${pageLink + pageNumber}}"><span th:text="${pageNumber + 1}"></span></a>-->
<!--                </th:block>-->
<!--                &nbsp;&nbsp;-->
<!--                <a href="javascript:;" class="next" th:if="${page.number != page.totalPages - 1}" th:href="@{${pageLink + (page.number + 1)}}"></a>-->
<!--                <a href="javascript:;" class="last" th:if="${page.number == page.totalPages - 1}"></a>-->
<!--            </div>-->
        </div>
    </div>

</div>
<script>
    const areaSelect = document.getElementById('areaSelect');
    const subjectSelect = document.getElementById('subjectSelect');

    areaSelect.addEventListener('change', function () {
        const selectArea = areaSelect.value;
        const selectSubject = subjectSelect.value;
        subjectSelect.innerHTML = ''; // 기존 내용 지우기

        if (selectArea === '국어') {
            addOption(subjectSelect, '전체');
            addOption(subjectSelect, '화법과 작문');
            addOption(subjectSelect, '언어와 매체');
        } else if (selectArea === '수학') {
            addOption(subjectSelect, '전체');
            addOption(subjectSelect, '확률과 통계');
            addOption(subjectSelect, '미적분');
            addOption(subjectSelect, '기하');
        } else if (selectArea === '영어') {
            addOption(subjectSelect, '전체');
            addOption(subjectSelect, '영어');
        } else if (selectArea === '한국사') {
            addOption(subjectSelect, '전체');
            addOption(subjectSelect, '한국사');
        } else if (selectArea === '사회탐구') {
            addOption(subjectSelect, '전체');
            addOption(subjectSelect, '생활과 윤리');
            addOption(subjectSelect, '윤리와 사상');
            addOption(subjectSelect, '한국지리');
            addOption(subjectSelect, '세계지리');
            addOption(subjectSelect, '동아시아사');
            addOption(subjectSelect, '세계사');
            addOption(subjectSelect, '경제');
            addOption(subjectSelect, '정치와 법');
        } else if (selectArea === '과학탐구') {
            addOption(subjectSelect, '전체');
            addOption(subjectSelect, '물리학I');
            addOption(subjectSelect, '화학I');
            addOption(subjectSelect, '생명과학I');
            addOption(subjectSelect, '지구과학I');
            addOption(subjectSelect, '물리학II');
            addOption(subjectSelect, '화학II');
            addOption(subjectSelect, '생명과학II');
            addOption(subjectSelect, '지구과학II');
        } else if (selectArea === '직업탐구') {
            addOption(subjectSelect, '전체');
            addOption(subjectSelect, '농업 기초 기술');
            addOption(subjectSelect, '공업 일반');
            addOption(subjectSelect, '상업 경제');
            addOption(subjectSelect, '수산 해운 산업 기초');
            addOption(subjectSelect, '인간 발달');
            addOption(subjectSelect, '성공적인 직업생활');
        } else if (selectArea === '제2외국어/한문') {
            addOption(subjectSelect, '전체');
            addOption(subjectSelect, '독일어I');
            addOption(subjectSelect, '프랑스어I');
            addOption(subjectSelect, '스페인어I');
            addOption(subjectSelect, '중국어I');
            addOption(subjectSelect, '일본어I');
            addOption(subjectSelect, '러시아어I');
            addOption(subjectSelect, '아랍어I');
            addOption(subjectSelect, '베트남어I');
            addOption(subjectSelect, '한문I');
        }

        const selectedData = { // 선택 값들 객체화 시키기
            area : selectArea,
            subject : selectSubject
        };
        const jsonData = JSON.stringify(selectedData); // JSON으로 변환

        fetch('api/paper', {
            method : 'GET',
            headers : {
                'Content-Type' : 'application/json',
            },
            body : jsonData,
        })
            .then(response => response.json())
            .then(data => {
                // 서버에서 받은 결과 데이터 처리
                console.log(data);
            })
            .catch(error => {
                console.log('에러 발생 : ', error);
            })
    });

    function addOption(selectBox, optionText) { // 영역 - 과목 셀렉트 박스
        const option = document.createElement('option');
        option.text = optionText;
        selectBox.add(option);
    }

    function updateTotalCount() { //  총 건수 세기
        const totalCount = document.querySelectorAll('.left-area .select-box option').length;
        document.getElementById('totalCount').innerText = totalCount;
    }

    document.addEventListener('DOMContentLoaded', function() {
        updateTotalCount();
    });

    const setDownloadLink = () => {
        const downloadElem = document.getElementById("excelDownload")
        let url = new URL(window.location.href);
        url.pathname="/paper/download";
        downloadElem.href = url.toString();
    }
    setDownloadLink();
</script>
</body>
</html>