.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    min-width: 60px;
    height: 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.gray {
    background-color: #777;
    color: #fff;
}

.green {
    background-color: #24a148;
    color: #fff;
}

.red {
    background-color: red;
    color: #fff;
}