<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:height="http://www.w3.org/1999/xhtml"
      xmlns:border-left="http://www.w3.org/1999/xhtml" xmlns:border-bottom="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>사용자 추가</title>
    <th:block th:replace="~{fragments/include:: include}"/>

</head>
<style>
    .tbl-list {
        width: 100%;
    }
</style>
<body>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var now = new Date();
        var nextYear = new Date();
        nextYear.setFullYear(now.getFullYear() + 1);

        function formatDate(date) {
            var day = ("0" + date.getDate()).slice(-2);
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            var year = date.getFullYear();

            return year + "-" + month + "-" + day;
        }

        document.getElementById("startDate").value = formatDate(now);
        document.getElementById("endDate").value = formatDate(nextYear);
    });
</script>

<div id="wrap">
    <th:block th:replace="~{fragments/header:: header}"/>
    <div class="container">

        <div class="inner">
            <div class="index-tit">시스템 관리 > 계정 관리</div>
            <h1 class="page-tit">사용자 관리</h1>

            <div class="search-box-wrap">
                <div class="search-box">
                    <div class="box">
                        <span>검색</span>
                        <input type="text" placeholder="검색어" class="search-form">
                    </div>
                    <div class="btn-wrap">
                        <button class="btn-green">검색</button>
                        <button class="btn-gray">초기화</button>
                    </div>
                </div>
            </div>

            <div class="table-wrap">
                <div class="tab-top">
                    <div class="left-area">
                        <span class="total">총 <em th:text="${users.size()}"></em>명</span>
                        <div class="select-wrap">
                            <select class="select-box w140">
                                <option value="">10개 보기</option>
                                <option value="">30개 보기</option>
                                <option value="">50개 보기</option>
                                <option value="">100개 보기</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a class="btn-gray w120" href="javascript:;">추가</a>
                    </div>
                </div>
                <form action="/user/add" method="POST">
                    <table class="tbl-list">
                        <thead>
                        <tr>
                            <th>NO</th>
                            <th>관리자 그룹</th>
                            <th>소속부서</th>
                            <th>이름</th>
                            <th>아이디</th>
                            <th>사용기간</th>
                            <th>비밀번호 초기화</th>
                            <th>관리</th>
                        </tr>
                        </thead>
                        <tr>
                            <td></td>
                            <td> <input type="text" id="role" name="role"></td>
                            <td> <input type="text" id="part" name="part"></td>
                            <td> <input type="text" id="name" name="name"></td>
                            <td> <input type="text" id="userId" name="userId"></td>
                            <form id="dateForm">
                                <td style="display: flex; height: 43.33px;">
                                <input type="date" id="startDate" name="startDate" style="width: 140px;">
                                    ~
                                    <input type="date" id="endDate" name="endDate" style="width: 140px;">
                                </td>
                                <button type="submit">저장</button>
                            </form>
                            <th style="border-bottom: 1px solid #ccc;
           border-left:   1px solid #ccc;">-</th>
                            <th><a class="btn-gray w120" href="#" onclick="createUser();">저장</a></th>

                        </tr>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.role.role}"></td>
                            <td th:text="${user.part}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.userId}"></td>
                            <td>
                                <span th:text="${#temporals.format(user.role.startDate, 'yyyy.MM.dd')}"> </span>
                                <span th:text="${#temporals.format(user.role.endDate, 'yyyy.MM.dd')}"> </span>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    async function createUser() {
        const roleValue = document.querySelector("input[name='role']").value;
        const partValue = document.querySelector("input[name='part']").value;
        const nameValue = document.querySelector("input[name='name']").value;
        const userIdValue = document.querySelector("input[name='userId']").value;
        const startDateValue = document.querySelector("input[name='startDate']").value;
        const endDateValue = document.querySelector("input[name='endDate']").value;


        const userDTO = {
            role: roleValue,
            part: partValue,
            name: nameValue,
            userId: userIdValue,
            startDate: startDateValue,
            endDate: endDateValue
        };
        console.log(startDateValue, endDateValue);

        // 서버로 데이터를 전송하고 결과에 따라 경고 메시지를 표시
            const response = await fetch('/user/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(userDTO)
            });

            const data = await response.json();

            if (response.ok) {
                alert("사용자 추가 성공, 새 사용자 ID: " + data.id);
            } else {
                alert("사용자 추가 실패");
            }
        location.reload();
    }
</script>
</body>
</html>
