<!DOCTYPE html>
<html lang="ko">
<head>
  <title>비밀번호 수정 페이지</title>
  <th:block th:replace="~{fragments/include:: include}"/>
</head>
<style>
  #notice-txt {
    color: red;
    display: none;
  }
</style>
<body style="background-color: #ffffff;">
<div id="wrap" class="login">
  <div class="login-wrap">
    <div class="tit-wrap" style="margin-bottom: 30px;">
      <img th:src="@{/images/logo.svg}" alt="천재교육" />
      <h1 class="big-text" style="margin-bottom: 0px;">비밀번호 수정</h1>
      <span class="small-text" style="margin-bottom: 60px;">새로운 비밀번호를 입력해주세요.</span>
    </div>
    <script th:if="${message}">
      alert("비밀번호가 성공적으로 수정되었습니다.");
    </script>

    <form action="/user/password/modify" method="post" onsubmit="return passwordCheck()" class="input-form">
      <input type="password" name="newPassword1" placeholder="새 비밀번호" />
      <input type="password" name="newPassword2" placeholder="비밀번호 확인" />
      <span id="notice-txt">비밀번호를 다시 한번 입력해주세요.</span>
      <button type="submit" class="btn-login">확인</button>
    </form>
  </div>
</div>
<script>
  const url = new URL(window.location.href);
  const param = new URLSearchParams(url.search);
  if (param.has("error")) {
    const noticeElem = document.getElementById("notice-txt");
    noticeElem.style.display = "block";
  }
</script>
</body>
</html>
