<!DOCTYPE html>
<html lang="ko">
<head>
  <title>비밀번호 수정 페이지</title>
  <th:block th:replace="~{fragments/include:: include}"/>
</head>
<body style="background-color: #ffffff;">
<div id="wrap" class="login">
  <div class="login-wrap">
    <div class="tit-wrap" style="margin-bottom: 30px;">
      <img th:src="@{/images/logo.svg}" alt="천재교육" />
      <h1 class="big-text" style="margin-bottom: 0px;">비밀번호 수정</h1>
      <span class="small-text" style="margin-bottom: 60px;">새로운 비밀번호를 입력해주세요.</span>

    </div>

    <form action="/user/password/modify" method="post" class="input-form">
      <input type="password"  name="password" placeholder="새 비밀번호" />
      <input type="password" name="password2" placeholder="비밀번호 확인" />

      <button type="submit" class="btn-login">확인</button>
      <span class="notice-txt">
        </span>
    </form>
  </div>
</div>
</body>
</html>
