<!DOCTYPE html>
<html lang="ko">
<head>
	<title>수능/모의 관리</title>
	<th:block th:replace="~{fragments/include:: include}"/>
</head>
<body>
<div id="wrap">
	<th:block th:replace="~{fragments/header:: header}"/>
		<div class="container">
			<div class="inner">
				<div class="index-tit">수능/모의 관리 > 수능/모의 관리</div>
				<h1 class="page-tit">수능/모의 관리</h1>
				<div class="search-box-wrap">
					<div class="search-box">
						<div class="box">
							<span>검색 조건</span>
							<div class="select-wrap">
								<select class="select-box">
									<option value="">년도</option>
									<option value="">2023</option>
									<option value="">2022</option>
								</select>
							</div>
							<div class="select-wrap">
								<select class="select-box">
									<option value="">출제 월</option>
									<option value="">1월</option>
									<option value="">2월</option>
									<option value="">3월</option>
									<option value="">4월</option>
									<option value="">5월</option>
									<option value="">6월</option>
									<option value="">7월</option>
									<option value="">8월</option>
									<option value="">9월</option>
									<option value="">10월</option>
									<option value="">11월</option>
									<option value="">12월</option>
								</select>
							</div>
							<div class="select-wrap">
								<select class="select-box">
									<option value="">영역</option>
									<option value="">국어</option>
									<option value="">수학</option>
									<option value="">영어</option>
									<option value="">한국사</option>
									<option value="">사회탐구</option>
									<option value="">과학탐구</option>
									<option value="">직업탐구</option>
									<option value="">제 2외국어/한문</option>

								</select>
							</div>
							<div class="select-wrap">
								<select class="select-box">
									<option value="">과목</option>
									<option value=""></option>
								</select>
							</div>
							<div class="select-wrap">
								<select class="select-box">
									<option value="">전체</option>
									<option value="">시험지 명</option>
									<option value="">등록자</option>
								</select>
							</div>
							<input type="text" placeholder="검색어" class="search-form">
						</div>
						<div class="btn-wrap">
							<button class="btn-green">검색</button>
							<button class="btn-gray">초기화</button>
							<button class="btn-toggle"></button>
						</div>
					</div>
					<div class="toggle-box">
						<div class="search-box">
							<div class="box">
								<span>시험 종류</span>
								<div class="check-wrap">
									<input type="checkbox" id="grade00" name="gradeCode">
									<label for="grade00">수능</label>
									<input type="checkbox" id="grade01" name="gradeCode">
									<label for="grade01">모의</label>
									<input type="checkbox" id="grade02" name="gradeCode">
									<label for="grade02">학력</label>
								</div>
							</div>
						</div>
						<div class="search-box">
							<div class="box">
								<span>업로드 상태</span>
								<div class="radio-wrap">
									<input type="radio" id="radio01_01" name="radio01" checked="">
									<label for="radio01_01">전체</label>
									<input type="radio" id="radio01_02" name="radio01">
									<label for="radio01_02">완료</label>
									<input type="radio" id="radio01_03" name="radio01">
									<label for="radio01_03">진행</label>
								</div>
							</div>
						</div>
						<div class="search-box">
							<div class="box">
								<span>학년</span>
								<div class="radio-wrap">
									<input type="radio" id="radio02_01" name="radio02" checked="">
									<label for="radio02_01">전체</label>
									<input type="radio" id="radio02_02" name="radio02">
									<label for="radio02_02">1학년</label>
									<input type="radio" id="radio02_03" name="radio02">
									<label for="radio02_03">2학년</label>
									<input type="radio" id="radio02_04" name="radio02">
									<label for="radio02_04">3학년</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="table-wrap">
					<div class="tab-top">
						<div class="left-area">
							<span class="total">총 <em>000</em>건</span>
							<div class="select-wrap">
								<select class="select-box w140">
									<option value="">10개 보기</option>
									<option value="">30개 보기</option>
									<option value="">50개 보기</option>
									<option value="">100개 보기</option>
								</select>
							</div>
						</div>
						<div class="btn-wrap">
							<a class="btn-gray w120" href="javascript:;">엑셀 다운로드</a>
							<a class="btn-green w100" href="javascript:;">시험지 업로드</a>
						</div>
					</div>
					<table class="tbl-list">
						<caption></caption>
						<colgroup>
							<col style="width: 3%;">
							<col style="width: 4%;">
							<col style="width: 6%;">
							<col style="width: 6%;">
							<col style="width: 6%;">
							<col style="width: 6%;">
							<col style="width: 8%;">
							<col style="width: 8%;">
							<col style="width: 17%;">
							<col style="width: 6%;">
							<col style="width: 8%;">
						</colgroup>
						<thead>
							<tr>
								<th>
									<div class="check-wrap">
										<input type="checkbox" id="chk100_00" name="numChk" class="allCheck">
										<label for="chk100_00"></label>
									</div>
								</th>
								<th>NO</th>
								<th>츨처 년도</th>
								<th>출제 타입</th>
								<th>월</th>
								<th>학년</th>
								<th>영역</th>
								<th>과목</th>
								<th>시험지 명</th>
								<th>등록자</th>
								<th>등록일</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="check-wrap"><input type="checkbox" id="chk100_30" name="numChk">
										<label for="chk100_30"></label></div>
								</td>
								<td>30</td>
								<td>0000</td>
								<td>교재</td>
								<td>2022</td>
								<td>초등</td>
								<td>초2</td>
								<td>수학</td>
								<td class="tit"><a href="javascript:;">10. 여러 가지 사각형</a></td>
								<td>홍길동</td>
								<td>YYYY.MM.DD</td>
							</tr>
							<tr>
								<td>
									<div class="check-wrap"><input type="checkbox" id="chk100_29" name="numChk">
										<label for="chk100_29"></label></div>
								</td>
								<td>29</td>
								<td>0000</td>
								<td>교재</td>
								<td>2022</td>
								<td>초등</td>
								<td>초2</td>
								<td>수학</td>
								<td class="tit"><a href="javascript:;">10. 여러 가지 사각형</a></td>
								<td>홍길동</td>
								<td>YYYY.MM.DD</td>
							</tr>
							<tr>
								<td>
									<div class="check-wrap"><input type="checkbox" id="chk100_28" name="numChk">
										<label for="chk100_28"></label></div>
								</td>
								<td>28</td>
								<td>0000</td>
								<td>교재</td>
								<td>2022</td>
								<td>초등</td>
								<td>초2</td>
								<td>수학</td>
								<td class="tit"><a href="javascript:;">10. 여러 가지 사각형</a></td>
								<td>홍길동</td>
								<td>YYYY.MM.DD</td>
							</tr>
							<tr>
								<td>
									<div class="check-wrap"><input type="checkbox" id="chk100_27" name="numChk">
										<label for="chk100_27"></label></div>
								</td>
								<td>27</td>
								<td>0000</td>
								<td>교재</td>
								<td>2022</td>
								<td>초등</td>
								<td>초2</td>
								<td>수학</td>
								<td class="tit"><a href="javascript:;">10. 여러 가지 사각형</a></td>
								<td>홍길동</td>
								<td>YYYY.MM.DD</td>
							</tr>
							<tr>
								<td>
									<div class="check-wrap"><input type="checkbox" id="chk100_26" name="numChk">
										<label for="chk100_26"></label></div>
								</td>
								<td>26</td>
								<td>0000</td>
								<td>교재</td>
								<td>2022</td>
								<td>초등</td>
								<td>초2</td>
								<td>수학</td>
								<td class="tit"><a href="javascript:;">10. 여러 가지 사각형</a></td>
								<td>홍길동</td>
								<td>YYYY.MM.DD</td>
							</tr>
						</tbody>
					</table>
				</div>


				<div class="paging-wrap">
					<a href="javascript:;" class="first"></a>
					<a href="javascript:;" class="prev"></a>
					<a href="javascript:;" class="page active"><span>1</span></a>
					<a href="javascript:;" class="page"><span>2</span></a>
					<a href="javascript:;" class="page"><span>3</span></a>
					<a href="javascript:;" class="page"><span>4</span></a>
					<a href="javascript:;" class="next"></a>
					<a href="javascript:;" class="last"></a>
				</div>
			</div>
		</div>

	</div>
	<script>
	</script>
</body>

</html>