<header th:fragment="header" class="header">
    <div class="nav-wrap">
        <div class="inner">
            <div class="top">
                <div class="logo">
                    <a href="javascript:;"><img th:src="@{/images/logo.svg}" alt="천재교육"></a>
                </div>
                <div class="btn-wrap">
                    <button><a href="javascript:;" class="user" th:text="${#ctx.session.userId}"></a></button>
                    <button><a href="javascirpt:;" class="btn-login">로그아웃</a></button>
                </div>
            </div>
            <div>
                <ul class="nav">
                    <li>
                        <a href="/">HOME</a>
                        <ul class="depth2">
                            <li>
                                <a href="/">공지사항</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/paper">수능/모의 관리</a>
                        <ul class="depth2">
                            <li>
                                <a href="/paper">수능/모의 관리</a>
                            </li>
                            <li>
                                <a href="/paper/upload">수능/모의 업로드</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/ocr">OCR 변환</a>
                        <ul class="depth2">
                            <li>
                                <a href="/ocr">OCR 변환 관리</a>
                            </li>
                            <li>
                                <a href="/ocr/transform">OCR 변환 페이지 (임시)</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/user/management">시스템 관리</a>
                        <ul class="depth2">
                            <li>
                                <a href="/user/management">계정 관리</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const nav = document.querySelector(".nav");
            const aTags = nav.getElementsByTagName("a");
            const currentPath = window.location.href;
            for (const aTag of aTags) {
                if (currentPath === aTag.href) {
                    aTag.parentElement.classList.add("active");
                    break ;
                }
            }
        })
    </script>
</header>
