@charset "UTF-8";
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
body {
  background-color: #f6f6f6;
}

.inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.h100 {
  position: relative;
  height: 100vh;
}

.scroll-inner {
  overflow: auto;
}

.dim,
.dim-pop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.dim-pop {
  z-index: 10;
}

.full-pop .container .inner {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px 0;
}

input,
select {
  outline: none;
}

input[type=radio],
input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
input[type=radio] + label,
input[type=checkbox] + label {
  position: relative;
}
input[type=radio] + label::before,
input[type=checkbox] + label::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 50%;
  left: 0;
}

input[type=text],
input[type=number] {
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

input.search-form {
  width: 360px;
  border-radius: 4px;
  height: 32px;
  padding-left: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] + label {
  padding-left: 27px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
input[type=checkbox] + label::before {
  width: 18px;
  height: 18px;
  margin-top: -9px;
  border-radius: 3px;
  background: url(../images/checkbox.png) no-repeat;
  background-size: contain;
}
input[type=checkbox]:checked + label::before {
  background: url(../images/checkbox_active.png) no-repeat;
  background-size: contain;
}

.tab-wrap .contents {
  display: none;
}
.tab-wrap .contents.on {
  display: block;
}
.tab-wrap .content {
  display: none;
}
.tab-wrap .content.on {
  display: block;
}

[class^=tab-menu-] {
  display: inline-flex;
  align-items: center;
}
[class^=tab-menu-] li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-sizing: border-box;
}

.tab-menu-type01 li a {
  width: 112px;
  height: 40px;
  background-color: #ddd;
  border-left: 0;
}
.tab-menu-type01 li:first-child a {
  border-top-left-radius: 4px;
}
.tab-menu-type01 li:last-child a {
  border-top-right-radius: 4px;
}
.tab-menu-type01 li.active a {
  color: #fff;
  background-color: #24a148;
}

.tab-menu-type02 {
  width: 10%;
  justify-content: space-between;
}
.tab-menu-type02 li {
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.tab-menu-type02 li a {
  position: absolute;
  left: 25px;
  white-space: nowrap;
  display: block;
}
.tab-menu-type02 li + a {
  padding-left: 10px;
  margin-right: 10px;
}
.tab-menu-type02 li::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.tab-menu-type02 li.active {
  border-color: #24a148;
}
.tab-menu-type02 li.active:before {
  background: #24a148;
}

.tab-menu-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background-color: #f8f8f8;
}

.tooltip-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.tooltip-wrap {
  position: relative;
}
.tooltip-wrap button:hover + .tooltip {
  display: inline-flex;
}
.tooltip-wrap .btn-tip {
  position: relative;
  top: 1px;
  min-width: auto;
  width: 19px;
  height: 19px;
  border-radius: 100%;
  border: 1px solid #989898;
  background: #fff url(../images/ico_tooltip.png) no-repeat left 7px top 4px;
  background-size: 4px 8px;
}
.tooltip-wrap .btn-tip:hover:not(.type02) {
  background-color: #969696;
  filter: invert(98%) sepia(98%) saturate(8%) hue-rotate(162deg) brightness(102%) contrast(102%);
}
.tooltip-wrap .tooltip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 32px;
  left: -50%;
  transform: translateX(-40%);
  width: 230px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  background-color: #969696;
  z-index: 1;
}
.tooltip-wrap .tooltip span {
  font-size: 14px;
  font-weight: 400;
}
.tooltip-wrap .tooltip::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  left: 106px;
  top: -8px;
  width: 11px;
  height: 8px;
  background: url(../images/ico_arrow_tooltip.png) no-repeat;
}

.paging-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.paging-wrap .page {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  font-weight: 500;
  color: #aaa;
}
.paging-wrap .page.active {
  color: #000;
}
.paging-wrap .prev,
.paging-wrap .next {
  width: 9px;
  height: 13px;
  margin: 0 20px;
  background: url(../images/ico_arrow_paging.png) no-repeat;
}
.paging-wrap .next,
.paging-wrap .last {
  transform: rotate(-180deg);
}
.paging-wrap .first,
.paging-wrap .last {
  width: 18px;
  height: 13px;
  background: url(../images/ico_arrow_first.png) no-repeat;
}

.info-txt {
  font-size: 13px;
  line-height: 18px;
  color: #777;
}

.login {
  overflow: hidden;
  height: 100vh;
}

.login-wrap {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: auto;
  transform: translate(-50%, -50%);
}
.login-wrap .tit-wrap {
  text-align: center;
}
.login-wrap .tit-wrap h1 {
  font-size: 40px;
  font-weight: 600;
  color: #000;
  margin: 35px auto 60px;
}
.login-wrap .input-form input {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-wrap .input-form .id-save {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login-wrap .input-form .btn-login {
  width: 100%;
  height: 60px;
  font-size: 18px;
  background-color: #24a148;
  margin: 45px auto 25px;
}

[class^=btn-],
[class^="a.btn-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  min-width: 60px;
  height: 32px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.btn-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-wrap.top {
  position: absolute;
  right: 20px;
  top: 0;
}
.btn-wrap.size-type [class^=btn-],
.btn-wrap.size-type [class^="a.btn-"] {
  width: 28px;
  height: 28px;
  min-width: 28px !important;
}
.btn-wrap.size-type .btn-prev {
  background: url(../images/btn_left.svg) no-repeat;
}
.btn-wrap.size-type .btn-next {
  background: url(../images/btn_right.svg) no-repeat;
}
.btn-wrap.size-type .btn-plus {
  background: url(../images/btn_plus.svg) no-repeat;
}
.btn-wrap.size-type .btn-minus {
  background: url(../images/btn_minus.svg) no-repeat;
}
.btn-wrap .btn-gray {
  background-color: #777;
  color: #fff;
}
.btn-wrap .btn-green {
  background-color: #24a148;
  color: #fff;
}
.btn-wrap .btn-line {
  border: 1px solid #777;
  color: #777;
}
.btn-wrap .btn-toggle {
  display: inline-block;
  min-width: 32px !important;
  height: 32px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #777;
  text-align: center;
  background: url(../images/ico_toggle_open.png) no-repeat 50% 50%;
}
.btn-wrap .btn-toggle.close {
  background: url(../images/ico_toggle_close.png) no-repeat 50% 50%;
}

a.w200,
button.w200,
select.w200 {
  width: 200px;
}
a.w180,
button.w180,
select.w180 {
  width: 180px;
}
a.w140,
button.w140,
select.w140 {
  width: 140px;
}
a.w120,
button.w120,
select.w120 {
  width: 120px;
}
a.w100,
button.w100,
select.w100 {
  width: 100px;
}
a.w80,
button.w80,
select.w80 {
  width: 80px;
}
a.w60,
button.w60,
select.w60 {
  width: 60px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  min-width: 1200px;
}
.header.active {
  height: 270px;
}
.header.active .header-content {
  border-bottom: 1px solid #777;
}
.header .logo {
  width: 100px;
  height: 22px;
}
.header .logo img {
  width: 100px;
}
.header .nav-wrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.header .top .btn-wrap a {
  color: #555;
  font-size: 13px;
  font-weight: 600;
}
.header .top .btn-wrap .btn-login {
  width: 62px;
  height: 24px;
  border-radius: 4px;
  color: #777;
  background-color: #eee;
}
.header .nav {
  width: 100%;
  display: flex;
}
.header .nav > li {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.header .nav > li.active {
  background-color: #24a148;
}
.header .nav > li.active a {
  color: #fff;
}
.header .nav > li > a {
  display: block;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 700;
  color: #999;
}
.header .nav > li > a:hover {
  background-color: #24a148;
  color: #fff;
}
.header .nav > li .depth2 {
  display: none;
  position: absolute;
  left: 0;
  top: 111px;
  width: 100%;
}
.header .nav > li .depth2 li {
  text-align: center;
}
.header .nav > li .depth2 li + li {
  margin-top: 28px;
}
.header .nav > li .depth2 li a {
  font-size: 18px;
  color: #999;
}
.header .nav > li .depth2 li a:hover {
  color: #24a148;
}
.header .nav > li .depth2.on {
  display: block;
}

.container .inner {
  padding: 144px 0 50px;
}
.container .index-tit {
  font-size: 14px;
  font-weight: 600;
  padding-top: 25px;
  color: #999;
}
.container .page-tit {
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  padding: 20px 0;
}
.container .cnt-txt {
  margin: 20px 0;
  font-size: 14px;
  font-weight: 500;
  color: #777;
}
.container .page-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}
.container .page-top .page-tit {
  padding-bottom: 10px;
}

select {
  border: 1px solid #ccc;
  background: url(../images/ico_select_up_down_g.png) no-repeat 90% 50%;
  background-color: #fff;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 4px;
  padding-left: 10px;
  height: 32px;
}

.select-wrap {
  position: relative;
  display: inline-block;
}
.select-wrap .select-box {
  display: flex;
  align-items: center;
  min-width: 92px;
  height: 32px;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 1;
}

.radio-wrap input[type=radio] {
  position: relative;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.radio-wrap input[type=radio] + label {
  padding-left: 5px;
  margin-right: 10px;
}
.radio-wrap input[type=radio]:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.radio-wrap input[type=radio]:checked {
  border-color: #24a148;
}
.radio-wrap input[type=radio]:checked:before {
  background: #24a148;
}
.radio-wrap label {
  font-size: 14px;
  padding-right: 8px;
  color: #000;
  cursor: pointer;
}

.search-box-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.search-box-wrap .search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}
.search-box-wrap .search-box .box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.search-box-wrap .search-box .box span {
  min-width: 76px;
  font-size: 14px;
  color: #000;
}
.search-box-wrap .search-box .box .box-txt {
  font-size: 14px;
}
.search-box-wrap .toggle-box {
  display: none;
}
.search-box-wrap .toggle-box .search-box {
  margin-top: -2px;
}

.tab-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 10px;
}
.tab-top .total {
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}
.tab-top .total em {
  font-weight: 600;
}

.tbl-list {
  width: 100%;
  border: 1px solid #ccc;
}
.tbl-list input[type=checkbox] + label {
  width: 18px;
  height: 18px;
  display: block;
  margin: 0 auto;
  padding: 0;
}
.tbl-list th,
.tbl-list td {
  padding: 5px 8px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
}
.tbl-list thead th {
  background: #eee;
  height: 32px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.tbl-list tbody tr {
  background-color: #fff;
}
.tbl-list tbody tr:hover td {
  background-color: #24a148;
  color: #fff;
}
.tbl-list tbody tr:hover td a {
  color: #fff;
}
.tbl-list tbody td {
  height: 32px;
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.tbl-list tbody td.tit {
  text-align: left;
}
.tbl-list tbody td a {
  color: #24a148;
  text-decoration: underline;
}

.tbl-info {
  width: 100%;
  border-style: hidden;
}
.tbl-info input[type=text] {
  width: 228px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
}
.tbl-info tr {
  border: 1px solid #ccc;
}
.tbl-info th {
  background: #f0f0f0;
  padding: 10px 20px;
}
.tbl-info td {
  border-left: 1px solid #ccc;
  padding: 10px 15px;
}
.tbl-info th,
.tbl-info td {
  box-sizing: border-box;
}

.pop-wrap {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.pop-wrap .pop-inner {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
}
.pop-wrap .pop-header {
  background: #24a148;
  height: 50px;
}
.pop-wrap .pop-header .pop-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: url(../images/ico_pop_close.png) no-repeat;
}
.pop-wrap .pop-footer {
  display: flex;
  padding: 0 20px 20px;
  gap: 10px;
}
.pop-wrap .pop-footer button {
  flex: 1;
  height: 50px;
  font-size: 16px;
}
.pop-wrap.alert-type .pop-inner {
  width: 384px;
  border-radius: 19px;
}
.pop-wrap.alert-type .pop-header {
  background: #fff;
  padding: 0;
  height: 40px;
}
.pop-wrap.alert-type .pop-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 0 30px 0;
}
.pop-wrap.alert-type .pop-content .txt {
  font-size: 18px;
  font-weight: 400;
}
.pop-wrap.alert-type .pop-footer {
  padding: 0 75px 45px 75px;
}
.pop-wrap.search-type .pop-inner {
  width: 986px;
}
.pop-wrap.search-type .pop-content {
  padding: 30px;
}
.pop-wrap.search-type .pop-content .pop-tit {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.pop-wrap.search-type .pop-content .scroll-inner {
  max-height: 240px;
}
.pop-wrap.search-type .pop-content .search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}
.pop-wrap.search-type .pop-content .search-box input.search-form {
  width: 100%;
  margin-left: 10px;
}
.pop-wrap.search-type .pop-content .search-box .btn-wrap {
  margin-left: 30px;
}
.pop-wrap.search-type .pop-content .table-wrap tbody tr:hover {
  cursor: pointer;
}
.pop-wrap.search-type .pop-content .table-wrap tbody tr.active {
  background-color: #24a148;
  color: #fff;
}
.pop-wrap.search-type .pop-content .table-wrap tbody tr.active td {
  background-color: #24a148;
}
.pop-wrap.search-type .pop-content .table-wrap tbody tr.active a {
  color: #fff;
}
.pop-wrap.search-type .pop-content .paging-wrap {
  margin-bottom: 30px;
}
.pop-wrap.search-type .pop-content .btn-wrap {
  display: flex;
}
.pop-wrap.upload-type .pop-inner {
  width: 625px;
}
.pop-wrap.upload-type .pop-content {
  padding: 30px;
}
.pop-wrap.upload-type .pop-content .pop-tit {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.pop-wrap.upload-type .pop-content .info-txt {
  font-size: 13px;
  font-weight: 500;
  color: #777;
  margin-bottom: 15px;
}
.pop-wrap.upload-type .pop-content .search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  margin-bottom: 10px;
}
.pop-wrap.upload-type .pop-content .search-box .search-form {
  width: 100%;
}
.pop-wrap.upload-type .pop-content .txt {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.pop-wrap.upload-type .pop-content .txt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.pop-wrap.upload-type .pop-content .txt.success {
  color: #24a148;
}
.pop-wrap.upload-type .pop-content .txt.success:before {
  background: url(../images/ico_success.png) no-repeat;
}
.pop-wrap.upload-type .pop-content .txt.fail {
  color: #d12d2d;
}
.pop-wrap.upload-type .pop-content .txt.fail:before {
  background: url(../images/ico_fail.png) no-repeat;
}
.pop-wrap.upload-type .pop-content .btn-wrap {
  display: flex;
}

.upload-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.upload-wrap .book-input-wrap .tit {
  font-size: 20px;
  font-weight: 600;
}
.upload-wrap .book-input-wrap .info-box {
  width: 285px;
  height: 100%;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.upload-wrap .book-input-wrap .info-box .info-top,
.upload-wrap .book-input-wrap .info-box .box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info .tbl-txt {
  font-size: 10px;
  word-break: break-all;
  margin-top: 5px;
}
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
  box-sizing: border-box;
}
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info input [type=number]::-webkit-inner-spin-button,
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info input [type=number]::-webkit-outer-spin-button {
  height: auto;
}
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info input [type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info input:focus [type=number]::-webkit-inner-spin-button,
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info input:focus [type=number]::-webkit-outer-spin-button, .upload-wrap .book-input-wrap .info-box .info-menu .tbl-info input:hover [type=number]::-webkit-inner-spin-button,
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info input:hover [type=number]::-webkit-outer-spin-button {
  height: auto;
}
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info th,
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info td {
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info th {
  background-color: #f0f0f0;
  color: #000;
  padding: 15px 20px;
  text-align: right;
  white-space: nowrap;
}
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info td {
  color: #777;
  padding: 8px;
}
.upload-wrap .book-input-wrap .info-box .info-menu .tbl-info em {
  color: #24a148;
}
.upload-wrap .book-input-wrap .info-box .info-menu .file-box-wrap {
  padding: 20px;
}
.upload-wrap .book-input-wrap .info-box .info-menu .file-box-wrap .box-top {
  padding: 0;
  margin-bottom: 15px;
}
.upload-wrap .book-input-wrap .info-box .info-menu .file-box-wrap .file-box {
  background-color: #eee;
  border: 1px solid #000;
  border-radius: 4px;
  height: auto;
  padding: 8px;
  margin: 10px 0;
  text-align: center;
}
.upload-wrap .book-input-wrap .info-box .info-menu .file-box-wrap .file-box .file-list {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.upload-wrap .book-input-wrap .info-box .info-menu .file-box-wrap .file-box .file-list .excel li::before {
  display: inline-block;
  background: url(../images/ico_excel.png) no-repeat;
  width: 21px;
  height: 21px;
  padding-right: 15px;
  background-size: contain;
}
.upload-wrap .book-input-wrap .info-box .info-menu .file-box-wrap .file-box .file-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}
.upload-wrap .book-input-wrap .info-box .info-menu .file-box-wrap .file-box .file-list li span {
  display: block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.upload-wrap .book-input-wrap .info-box .info-menu .file-box-wrap .file-box .file-list li::before {
  content: "";
  display: inline-block;
  background: url(../images/picture_as_pdf_black_24dp.svg) no-repeat;
  width: 24px;
  height: 27px;
  padding-right: 15px;
  background-size: contain;
}
.upload-wrap .book-input-wrap .info-box .info-menu .file-box-wrap .file-box .file-list li .btn-del {
  min-width: 24px !important;
  height: 27px;
}
.upload-wrap .test-box-wrap {
  width: 100%;
  margin-left: 20px;
}
.upload-wrap .test-box-wrap .test-box {
  position: relative;
  min-height: 790px;
  min-width: 500px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.upload-wrap .test-box-wrap .test-box .total-num {
  font-size: 20px;
  font-weight: 600;
  padding: 30px 0;
}
.upload-wrap .test-box-wrap .test-box .btn-wrap {
  display: flex;
  margin-top: 25px;
}
.upload-wrap .test-box-wrap .test-box .prev-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 845px;
  gap: 25px;
}
.upload-wrap .test-box-wrap .test-box .prev-box .page {
  position: relative;
  width: 258px;
  height: 400px;
  padding: 16px;
  border-radius: 4px;
  background-color: #eee;
  box-sizing: border-box;
}
.upload-wrap .test-box-wrap .test-box .prev-box .page .check-wrap {
  margin-bottom: 10px;
}
.upload-wrap .test-box-wrap .test-box .prev-box .page .dragHandle {
  position: absolute;
  right: 16px;
  top: 16px;
  height: 14px;
  cursor: grab;
}
.upload-wrap .test-box-wrap .test-box .prev-box .page .book-img {
  width: 100%;
}
.upload-wrap .test-box-wrap .test-box .prev-box .page .book-img canvas {
  width: 100%;
  height: 316px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
}

.ocr-wrap .pop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.ocr-wrap .pop-header .tit-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ocr-wrap .pop-header .tit-box .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ocr-wrap .pop-header .tit-box .title li {
  font-size: 20px;
  font-weight: 600;
}
.ocr-wrap .pop-header .tit-box .title li:after {
  content: "";
  width: 1px;
  height: 15px;
  background: #000;
  display: inline-block;
  margin: 0 10px;
}
.ocr-wrap .pop-header .tit-box .total {
  color: #777;
  font-size: 20px;
  font-weight: 600;
}
.ocr-wrap .pop-content .view-box-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 750px;
  max-height: 812px;
  position: relative;
  padding: 30px 25px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-top .tit {
  font-size: 20px;
  font-weight: 600;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-top .left-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-top .page-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-top .page-wrap input[type=text] {
  width: 40px;
  height: 25px;
  border: 1px solid #ccc;
  margin: 0 7px;
  text-align: center;
  font-weight: 500;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-top .page-wrap .prev,
.ocr-wrap .pop-content .view-box-wrap .view-box .view-top .page-wrap .next {
  width: 9px;
  height: 13px;
  margin: 0 12px;
  background: url(../images/ico_arrow_paging.png) no-repeat;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-top .page-wrap .next,
.ocr-wrap .pop-content .view-box-wrap .view-box .view-top .page-wrap .last {
  transform: rotate(-180deg);
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-top .page-wrap .first,
.ocr-wrap .pop-content .view-box-wrap .view-box .view-top .page-wrap .last {
  width: 18px;
  height: 13px;
  background: url(../images/ico_arrow_first.png) no-repeat;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom {
  width: 100%;
  height: 100%;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .img-cut-wrap {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .img-cut-wrap .type-box-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 15px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .img-cut-wrap .type-box-wrap .page-wrap {
  color: #777;
  font-size: 16px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .img-cut-wrap .img-box {
  width: 100%;
  max-width: 740px;
  height: 648px;
  overflow: auto;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .table-wrap {
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .scroll-inner {
  height: 530px;
  overflow-x: hidden;
  padding-right: 5px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .scroll-inner.term-box .btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap.result-box .box {
  margin-bottom: 10px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap.result-box .box.edit-box textarea {
  width: 86%;
  resize: none;
  color: #777;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap.result-box .box.edit-box .btn-wrap {
  flex-direction: column;
  justify-content: flex-start;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap.result-box .box.edit-box .btn-wrap a {
  padding: 10px 0;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap.result-box .btn-wrap {
  display: flex;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap.result-box .btn-wrap.send-type {
  margin-top: 30px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .tit {
  font-size: 18px;
  font-weight: 500;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .que-tit {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .box-top {
  margin: 30px 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .box-top .radio-wrap {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .box-top .radio-wrap label {
  padding-right: 0;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .box-top .radio-wrap:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #000;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .box-top .radio-wrap:last-child {
  margin-left: 10px;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .box-top .radio-wrap:last-child::after {
  display: none;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .box {
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px 10px;
  position: relative;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .box .img-scan {
  width: 100%;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .box .img-scan .img {
  max-width: 100%;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .box .btn-wrap {
  position: absolute;
  right: 10px;
  top: 15px;
  margin: 0;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .box .que-ocr {
  width: 90%;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .box .que-ocr img {
  max-width: 100%;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .box .que-ocr p {
  font-size: 13px;
  color: #777;
  line-height: 1.5;
}
.ocr-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-chg-wrap .box-wrap .empty-txt {
  font-size: 16px;
  font-weight: 500;
  color: #777;
  text-align: center;
  padding: 54px 0;
}